body{
    background-color: black;
    padding:0px;
    margin:0px;
}

nav{
    align-self: center;
    align-content: center;
    text-align: center;
    padding:0px;
    margin: 20px;
}

nav button {
    border:none;
    background-color: steelblue;
    width:150px;
    height:50px;
    border-radius: 15px;
    margin:15px;
}

nav button:hover{
    cursor:pointer;
}


#content{
    background-color: black;
    height:100vh;
    padding:0px;
    margin:0px;
}

.heading{
    align-self: center;
    text-align: center;
}

.about{
    align-self: center;
    justify-self: center;
    border-radius: 25px;
    padding:30px;
    text-align: center;
    background-color: antiquewhite;
    width: 400px;
}